[Unit]
Description=HylaFAX faxgetty for ttyT38-28

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyT38-28

[Install]
WantedBy=multi-user.target
